body {
	background-color: lightblue;
	}

	h1{
		text-align: center;
		border:solid;
		border-radius:50px;
		border-color: black;
	}

	h2{
		text-align: center;
		margin-top:50px;
	}

	img:nth-of-type(1){
		margin-left:670px;
		height: 180px;
		width: 140px;
	}

	p:nth-of-type(1){
		text-align: center;
		margin-top:50px;
		margin-bottom: 50px;
		font-size:23px; 
		

	}

	p:nth-of-type(2){
		text-align: center;
		font-size:20px;
	}
